<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/new.css">
</head>
<body>
    <h3>START A NEW CHAT</h3>
    <form action="/chats" method="POST" id="edit">
        <input type="text" name="from" placeholder="ENTER YOUR NAME" />
        <br><br>
        <textarea name="msg" id="" placeholder="write your message here"></textarea>
        <br><br>
        <input type="text" name="to" placeholder="ADD RECIEVER" id="" />
        <br><br>
        <button>CREATE CHAT</button>
    </form>
</body>
</html>